<script>

  var elems;
  document.addEventListener('DOMContentLoaded', function() {
    elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, {coverTrigger: false});
  });

  var instance = M.Dropdown.getInstance(elems);
  instance.Open();

</script>



<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">

     <div class="mdl-layout__header-row">

       <span class="mdl-layout-title"><%= name %></span>
       <div class="mdl-layout-spacer"></div>
     </div>

     <div id="pre-loader" class="progress minimal grey" style="width: 100%; position:relative; top: 25px; height:4px;">
       <div class="indeterminate minimal light-blue darken-3" style="background-color: #F5F5F5; "></div>
     </div>

</header>

<div class="demo-drawer mdl-layout__drawer mdl-color--amber-400 mdl-color-text--blue-grey-50">

 <header class="demo-drawer-header">

   <img src="images/drone.png" class="logo" id='logo'>
   <div class="demo-avatar-dropdown">

     <br><br>


   </div>
 </header>

 <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

   <!-- <a class="mdl-navigation__link white-text text-darken-2" href=""><i class="white-text text-darken-2 material-icons" role="presentation">home</i>Home</a> -->
   <a class="dropdown-trigger mdl-navigation__link  white-text text-darken-2" data-target='dropdown1'><i class="white-text text-darken-2 material-icons" role="presentation">edit_location</i>Zones</a>

   <ul id='dropdown1' class='dropdown-content'>
     <li><a href="#!">Zone 1</a></li>
     <li><a href="#!">Zone 2</a></li>
     <li><a href="#!">Zone 3</a></li>

   </ul>


   <!-- <a class="mdl-navigation__link white-text text-darken-2" href=""><i class="white-text text-darken-2 material-icons" role="presentation">location_on</i>Map</a> -->
   <a class="mdl-navigation__link white-text text-darken-2" href=""><i class="white-text text-darken-2 material-icons" role="presentation">archive</i>Archived</a>
   <a class="mdl-navigation__link white-text text-darken-2" href="/logout"><i class="white-text text-darken-2 material-icons" role="presentation">power_settings_new</i>Log Out</a>

   <div class="mdl-layout-spacer"></div>

 </nav>

</div>

 <%- include('maps',{lat: 22.5726, lng: 88.3639}) %>

</div>
